label{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
    color: darkgreen;

}
input{
    color: forestgreen;
    border-color: darkcyan;
}
div{
    background-color: yellowgreen;
}
form{
    width: 80%;
    border: 5px groove darkcyan;
}
.fons{
    background-color: burlywood;
}